[submodule "Software/Target/Libraries/SparkFun_Qwiic_Scale_NAU7802_Arduino_Library"]
	path = Software/Target/Libraries/SparkFun_Qwiic_Scale_NAU7802_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_Qwiic_Scale_NAU7802_Arduino_Library.git
